<section>
  @if (isBrowser) {
    <form>
      <input type="text" placeholder="Filter by city" #filter />
      <button 
        class="primary" 
        type="button" 
        (click)="filterResults(filter.value)">
        Search
      </button>
    </form>
  }

  <section class="results">
    @if (filteredLocationList.length > 0) {
      @for (location of filteredLocationList; track location.id) {
        <app-housing-location 
          [housingLocation]="location">
        </app-housing-location>
      }
    } @else {
      <p class="no-results">No locations found</p>
    }
  </section>
</section>
